<% if notice %>
  <div class="container">
    <div class="alert bg-info" id="notice">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="container">
    <div class="alert bg-danger" id="alert">
      <%= icon('fas', 'exclamation-circle') %>
      <%= alert %>
    </div>
  </div>
<% end %>
