<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex flex-column" style="min-height: 100%;">
        <h1>Upcoming Events</h1>
        <% if @events.blank? %>
        <%= image_tag 'NotFound.jpg', class: 'w-100 mb-3 rounded' %>
        <div class="alert alert-info d-flex align-items-center">
          <%= icon('fas', 'info-circle', class: 'flex-shrink-1 mx-3') %>
          <p class="flex-grow-1 mb-0">We don't currently have any socials or events announced yet. Watch this space, and definitely keep an eye out on the Facebook page.</p>
        </div>
        <% else %>
          <% @events.each do |event| %>
            <%= render event %>
            <% unless event == @events.last %>
              <hr>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container">
        <h1>About Socials</h1>
        <p>
        SLUGS meets weekly for socials on <b>Tuesdays</b>. We normally host these at Molly Malones, where we socialise and enjoy fun multiplayer games, with a few drinks on the side! You can see our socials schedule for the next few weeks here - click on each one to learn more.</p>
        <p>Over the holidays, we might even run <b>unofficial</b> socials - keep an eye out on the Facebook group for those during this time. If you're just <b>getting started</b> with SLUGS, join us at socials each week to get involved!</p>
        </p>
      </div>
    </div>
  </div>
</div>
