<div class="text-center d-flex flex-column justify-content-center container" style="height: 90vh;">
  <div class="card text-dark">
    <div class="card-header">
      <h1>Join the ranks!</h1>
    </div>
    <div class="card-body">
      <p>Click the button below to head on over to the <b>Students' Union website</b>, where you can <b>purchase membership</b> for £3. This grants you membership from now until the end of the current academic year.</p>
      <p>With this membership, you can...
        <ul>
          <li><b>attend LANs</b> and other events we run, such as our VR Give It A Go session, movie nights, and Laser Tag!</li>
          <li>get <b>cheaper drinks</b> with our sponsors and have a great time at socials!</li>
          <li>become part of a <b>huge community</b> of players at your university!</li>
        </ul>
      </p>
      <%= link_to society_join_link, class: 'btn btn-lg btn-students-union' do %>
        <%= icon('fas', 'external-link-alt') %>
        Take me there!
      <% end %>
    </div>
  </div>
</div>
