/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$body-bg: #343a40;
$body-color: white;
$theme-colors: (
 "primary": #3D3D3D,
 "discord": #7289DA,
 "facebook": #3b5998,
 "twitter": #00aced,
 "steam": black,
 "nintendo-switch": #e60012,
 "wii": #dddddd,
 "dreamcast": #3b76c2,
 "wii-u": #009ac7,
 "xbox-one": #107c10,
 "playstation-4": #003791,
 "xbox-360": #93c73e,
 "battlenet": #00B4FF
);
$link-color:                 #ddd;
$link-hover-color:           #fff;
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
