<div class="container">
  <h1>
    Rules
    <%= link_to new_rule_path, class: 'btn btn-success' do %>
      <%= icon('fas', 'plus-square') %>
      Create New
    <% end %>
  </h1>

  <%= render @codes, edit: true %>
</div>
